<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - StarterKit</title>

    <!--Custom styling in site.css-->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <!--Bootstrap styling-->
    <link rel="stylesheet" href="~/lib/bootstrap.min.css" />
</head>

<body>

    @RenderBody()

    <!--The main Javascript bundle that is produced by Webpack containing the React App-->
    <script src="~/js/main.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
